<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Notícias de Esporte</title>
</head>

{% if esporte == True %}
<body style="background-color: #71f442">
{% elif esporte == False %}
<body style="background-color: #f45e41">
{% else %}
<body style="background-color: #BFBFBF">
{% endif %}

    <nav class="navbar navbar-light bg-secondary mb-5">
        <span class="navbar-brand mb-0 h1 text-white">Notícias de Esporte</span>
    </nav>

    <main class="container">
        {% if esporte == True %}
        <div class="alert alert-success" role="alert">
            Esta notícia é de esporte!
            Probabilidade de acerto: {{porcentagem}}%
        </div>
        {% elif esporte == False %}
        <div class="alert alert-danger" role="alert">
            Esta notícia não é de esporte!
            Probabilidade de acerto: {{porcentagem}}%
        </div>
        {% endif %}

        <form action="/" method="POST">
            <div class="card">
                <div class="card-header">
                    Insira uma notícia...
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="form-group">
                                <label for="noticia" >Clique em verificar para saber se a notícia se refere à esporte ou não.</label>
                                <textarea class="form-control" id="noticia" name="noticia" rows="10"></textarea>
                        </div>
                    </p>
                    <button type="submit" class="btn btn-primary">Verificar</button>
                </div>
            </div>
        </form>
    </main>
    
</body>
</html>